* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 14px 24px;
  border: 1px solid black;
  outline: none;
  background-color: white;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 9px;
  margin-top: 16px;
}
